div#menuhorizontal {
	background-color: green;
}


div#menuhorizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div#menuhorizontal li {
  float: left;
}

div#menuhorizontal li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div#menuhorizontal li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

div#menuhorizontal li.dropdown {
  display: inline-block;
}

div#menuhorizontal .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

div#menuhorizontal .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

div#menuhorizontal .dropdown-content a:hover {background-color: #f1f1f1;}

div#menuhorizontal .dropdown:hover .dropdown-content {
  display: block;
}

div#menuhorizontal li#about {
	float:right;
}

div#menucentral {
  text-align: center;
  margin-top: 4%;
}

img.mcparte1img {
  border-radius: 50%;
  height: 440px;
  width: 740px;
  margin-top: 2%;
}

p.mcparte1text {
  border-style: dotted;
  border-color: blue;
  border-width: 2px 2px 2px 2px;
  margin: 1%;

}

div#mcparte2 {
  margin: 4%;
}

.generalborder{
  border-style: solid;
  border-color: Silver;
  border-radius: 5px;
  height: 35px;
  width: 98%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-left: 1%;

}

.Icons {
  margin-top: 4%;
}

button {
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 5px;
   height: 8px;
   line-height: 3px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 99.5%;
   font-size: 14px;
   font-weight: 700;
   padding: 20px;
   background-color: #4caf50;
   text-align: center;
   margin-top: 1%;
}

button:hover {
  
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 5px;
   background: #097A41;
   
}

textarea {
 border-style: solid;
  border-color: Silver;
  border-radius: 5px;
  height: 50px;
  width: 99%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

h1{
  margin-top: 2%;
}

.usuario {
background-color: #EFEEEE;
}

.senha{
  background-color: #EFEEEE;
}

.entrargeral{
  background-color: #EFEEEE;
  background-size: 150px;
}

.entrar{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}